@model BusinessEntities.Employee

@{
    Layout = "~/Views/Shared/_Layout_cms.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeStreetNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeStreetNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeStreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeStreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeProvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeProvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeePostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeePostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSalary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
