@model IEnumerable<ViewModel.EmployeeViewModel>

@{
    Layout = "~/Views/Shared/_Layout_cms.cshtml";
    ViewBag.Title = "Index";
}

    <h2 class="page-header">Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeWorkingPeriod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeePhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeMobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeSalary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeWorkingPeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeMobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeSalary)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                    </td>
                </tr>
            }
    </tbody>
</table>
</div>