@model IEnumerable<BusinessEntities.Content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_cms.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageSubTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageContent1Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageContent1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageContent2Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageContent2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageContent3Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageContent3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageSubTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageContent1Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageContent1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageContent2Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageContent2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageContent3Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageContent3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PageId })
        </td>
    </tr>
}

</table>
